<section>
  <div class="container">
    <div class="row mt-3 mb-5">
      <div class="col-8">
        <div class="card">
          <div class="card-header">
            MY CART
          </div>
          {{!-- Add cart items here --}}
          {{#each products}}
         
          <div class="card-body border-bottom">
            <div class="row">
              <div class="col-3 align-items-center">
                <img
                  src="/product-images/{{this.product._id}}.jpg"
                  class="rounded float-left mr-3"
                  alt="..."
                  style="width: 140px; height:140px"
                />
              </div>

              <div class="col-7">
                <h5 class="card-title">{{this.product.Name}}</h5>
                <p>{{this.product.Category}}<p>
                <h6>₹ {{this.product.Price}}</h6>
                <p class="card-text">{{this.product.Description}}</p>
              </div>
              <div class="col-2">
                  
              </div>
            </div>
            <div class="row">
              <div class="col-3">
                <div
                  class="d-flex align-items-center justify-content-center w-100 pt-3"
                >
                  <button
                    type="button"
                    class="btn btn-light btn-circle btn-sm mr-3 border-secondary"
                    style="width:35px;"
                    onclick="changeQuantity('{{this._id}}', '{{this.product._id}}','{{../user}}',-1)"
                  >-</button>
                  <span id="{{this.product._id}}">{{this.quantity}}</span>
                  <button
                    type="button"
                    class="btn btn-light btn-circle btn-sm ml-3 border-secondary"
                    style="width:35px;"
                    onclick="changeQuantity('{{this._id}}', '{{this.product._id}}','{{../user}}',1)"
                  >+</button></div>
              </div>
              <div class="col-7"></div>
              <div class="col-2">
                <a href="#" class="btn btn-danger btn-lg">Remove</a>
              </div>
            </div>
          </div>
          {{/each}}
          {{!-- footer --}}
          <div class="card-footer bg-transparent border-muted d-flex justify-content-end"><a
              href="/place-order"
              class="btn btn-warning btn-lg "
            >Place Order</a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <div class="card-header">
            PRICE DETAILS
          </div>
          <div class="card-body">
              <div class="row">
                <div class="col-7">
                    <h5 class="card-title">Price</h5>
                    <h5 class="card-text">Discount</h5>
                    <h5 class="card-text">Delivery Charges</h5>
                    <h5 class="card-text mt-4">Total Amount</h5>
                </div>
                <div class="col-5">
                    <h5 class="card-title float-right"><span id="total">₹ {{totalValue}}.00</span></h5>
                    <h5 class="card-text float-right"><span id="">- ₹ 1000.00</span></h5>
                    <h5 class="card-text float-right"><span id="">Free</span></h5>
                    <h5 class="card-text float-right mt-4"><span id="nettotal">₹ {{totalValue}}.00</span></h5>
                </div>
              </div>
            <div>
                
            </div>
            <div class="card-footer bg-transparent border-muted mt-4">
                <h6 class="card-text">You will save ₹ 1000 on this order</h6>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  function changeQuantity(cartId, proId, userId, count) {
    let quantity=parseInt(document.getElementById(proId).innerHTML)
    count=parseInt(count)

  $.ajax({
    url: "/change-product-quantity",
    data: {
      user:userId,
      cart: cartId,
      product: proId,
      count: count,
      quantity: quantity
    },
    method: "post",
    success: (response) => {
      if(response.removeProduct){
        alert('remove product')
        location.reload()
      } else {
        document.getElementById(proId).innerHTML=quantity+count
        document.getElementById('total').innerHTML=response.total
        document.getElementById('nettotal').innerHTML=response.total
      }
    },
  });
}
</script>