<section>
  <div class="container mt-5">
    <div class="row">
      {{#each products}}
        <div class="col-md-3 p-3">
          <div class="card">
            <img
              class="card-img-top"
              src="/product-images/{{this._id}}.jpg"
              alt="Card image cap"
              style="height: 8rem;"
            />
            <div class="card-body">
              <h5 class="card-title">{{this.Name}}</h5>
              <h6 class="card-title">₹ {{this.Price}}</h6>
              <p
                class="card-text"
                style="height: 5rem;"
              >{{this.Description}}</p>
              <a href="/add-to-cart/{{this._id}}" class="btn btn-primary">Add to
                cart</a>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</section>